@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["Email"] = "Sessão de Email";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<h1>@ViewData["Email"]</h1>
<h2> This is a section to see the link about Gmail: </h2>
<p> <a href="https://gmail.com"> </a> </p>

